$colors-color-white-border: 1px solid $color-ligth-gray;
$colors-color-size-mobile: 150px;
$colors-color-size-desktop: 250px;

.colors {
  @extend .layout-grid;
}

.colors__box {
  @include column(6);
}

.colors__color {
  height:$colors-color-size-mobile;
  width: 100%;
}

.colors__color--white {
  background: $color-white;
  border: $colors-color-white-border;
}

.colors__color--black {
  background: $color-black;
}

.colors__color--corporative {
  background: $color-corporative;
}

.colors__color--gray {
  background: $color-gray;
}

.colors__text {
  color: $color-gray;
  padding-top: .75rem;
  font-size: .85rem;
}

@media #{$breakpoints-large} {
  .colors__box {
    @include column(3);
  }

  .colors__color {
    height:$colors-color-size-desktop;
  }
}
