$example-content-padding: 1.5rem;
$example-text-background: #007FFF;
$example-text-color: $color-white;

.example {
  padding: 4rem 0;
}

.example__content {
  @extend .layout-grid;
}

.example__content {
  margin-bottom: calc( #{$gutter} * 2 );

  * {
    font-size: 1rem;
    padding: 2rem 0;
    text-align: center;
  }
}

.example__text {
  background: $example-text-background;
  color: $example-text-color;
  padding: 1rem 0;
}

.example1 {
  @include column(1);
}

.example2 {
  @include column(2);
}

.example3 {
  @include column(3);
}

.example4 {
  @include column(4);
}

.example5 {
  @include column(5);
}

.example6 {
  @include column(6);
}

.example7 {
  @include column(7);
}

.example8 {
  @include column(8);
}

.example9 {
  @include column(9);
}

.example10 {
  @include column(10);
}

.example11 {
  @include column(11);
}

.example12 {
  @include column(12);
}
