$guidelines-background: #BBFFFF;
$guidelines-mobile: $gutter;
$guidelines-desktop: calc( 5% + #{$gutter} );
$guide-width: 1px;
$body-after-left: calc( 50% - #{$guide-width});

.guide {
  background: $guidelines-background;
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  width: $guide-width;
  z-index: 100;
}

/*
body:after {
  @extend .guide;

  left: $body-after-left;
}
*/

.guidelines {
  &:after,
  &:before {
    @extend .guide;
  }

  &:after {
    left: $guidelines-mobile;
  }

  &:before {
    right: $guidelines-mobile;
  }
}

@media #{$breakpoints-large} {
  .guidelines {
    &:after {
      left: $guidelines-desktop;
    }

    &:before {
      right: $guidelines-desktop;
    }
  }
}
