$hero-title-font-family: $font-family-first;

.hero {
  @extend .layout;
}

.hero__thumb {
  @include column(4);

  background: transparent url('../images/picture01.jpg') no-repeat;
  background-size: cover;
  height: 600px;
}

.hero__content {
  @include column(8);

  background: $color-black;
  color: $color-white;
  padding: 8rem calc( #{$gutter}*3 );
}

.hero__title {
  font-family: $hero-title-font-family;
  font-size: 2rem;
}

.hero__description {
  font-size: 1rem;
  line-height: 1.25rem;
  max-width: 500px;
  padding: 1rem 0;
}

.hero__link {
  border-bottom: 2px solid $color-white;
  color: $color-white;
  display: inline-block;
  font-size: .85rem;
  font-weight: bold;
  padding: 0 0 .5rem 0;
  text-decoration: none;
}
