// Part of the pitcher github.com/gruncho/stylestree
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.
//
// @author Alex M. Gorgal (@gruncho) <alex@worldx3.com>

// Select typo

$helvetica: 'Helvetica, sans-serif';
$georgia: 'Georgia, serif';

// Font-family (revise "../base/common")"

$first-font-family: $helvetica;
$second-font-family: $georgia;

// Font-weight (revise "../base/common")"

$first-font-weight-regular: normal;
$first-font-weight-bold: bold;
$second-font-weight-regular: normal;
$second-font-weight-bold: bold;