// Part of the pitcher github.com/gruncho/stylestree
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.
//
// @author Alex M. Gorgal (@gruncho) <alex@worldx3.com>

@import '../variables/colors';
@import '../variables/typography';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  cursor: default;
  overflow-x: hidden;
}

body {
  background-color: $body-background;
  font-family: $first-font-family;
  font-weight: $first-font-weight-regular; 
  min-height: 100%;
}

strong {
  font-weight: $first-font-weight-bold;
}

a {
  color: inherit;
}

::-moz-selection,
::selection {
  background: $color-corporative;
  color: $color-text;
}