@import 'grid';

$section-padding: 3rem;
$section-padding-mobile: $section-padding;
$section-padding-medium: calc( #{$section-padding} * 1.5 );
$section-padding-large: calc( #{$section-padding} * 2 );
$section-padding-xlarge: calc( #{$section-padding} * 2.5 );
$section-padding-xxlarge: calc( #{$section-padding} * 3 );
$section-padding-xxxlarge: calc( #{$section-padding} * 3.5 );

.section {
  padding: $section-padding-mobile 0;
}

.section--wrap {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

@media #{$breakpoints-medium} {
  .section {
    padding: $section-padding-medium 0;
  }
}

@media #{$breakpoints-large} {
  .section {
    padding: $section-padding-large 0;
  }
}

@media #{$breakpoints-xlarge} {
  .section {
    padding: $section-padding-xlarge 0;
  }
}

@media #{$breakpoints-xxlarge} {
  .section {
    padding: $section-padding-xxlarge 0;
  }
}

@media #{$breakpoints-xxxlarge} {
  .section {
    padding: $section-padding-xxxlarge 0;
  }
}

.section--header {
  padding: 0;
}

.section--footer {
  padding: 0;
}