$section-padding: $convivences;
$section-padding-mobile: $section-padding;
$section-padding-medium: calc( #{$section-padding} * 1.5 );
$section-padding-large: calc( #{$section-padding} * 2 );
$section-padding-xlarge: calc( #{$section-padding} * 2.5 );
$section-padding-xxlarge: calc( #{$section-padding} * 3 );
$section-padding-xxxlarge: calc( #{$section-padding} * 3.5 );

.section {
  padding-bottom: $section-padding-mobile;
  padding-top: $section-padding-mobile;
}

@media #{$breakpoints-medium} {
  .section {
    padding-bottom: $section-padding-medium;
    padding-top: $section-padding-medium;
  }
}

@media #{$breakpoints-large} {
  .section {
    padding-bottom: $section-padding-large;
    padding-top: $section-padding-large;
  }
}

@media #{$breakpoints-xlarge} {
  .section {
    padding-bottom: $section-padding-xlarge;
    padding-top: $section-padding-xlarge;
  }
}

@media #{$breakpoints-xxlarge} {
  .section {
    padding-bottom: $section-padding-xxlarge;
    padding-top: $section-padding-xxlarge;
  }
}

@media #{$breakpoints-xxxlarge} {
  .section {
    padding-bottom: $section-padding-xxxlarge;
    padding-top: $section-padding-xxxlarge;
  }
}
